.col-xs-8
  %h1 All orders

  %table.table
    %thead
      %th order number
      %th customer
      %th description
      %th fasdfasd
      %th dfdafsfa
    %tbody
      %tr{ ng_repeat: "order in orders" }
        %td
          %a{ ng_href: "#/orders/{{ order.id }}" }
            {{ order.id }}
        %td {{ order.customer.first_name }} {{ order.customer.last_name }}
        %td {{ order.description }}
        %td {{ order.status }}
        %td {{ order.confirmed_date  }}
