<div class="modal-header">
  <h4 class="modal-title">Edit Product</h4>
</div>

<div class="modal-body">
  <form name="eProd" ng-submit="submitProduct(product)" novalidate>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-12">
          <label>Name</label>
          <input class="form-control" name="name" ng-model="product.name" ng-minlength=3 server-error />
          <div class="error"
               ng-show="eProd.name.$dirty && eProd.name.$invalid">
            <span class="help-block"
                  ng-show="eProd.name.$error.server">
                  {{errors.name}}
            </span>
          </div>
        </div>
        </div>
      </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-12">
          <label>Description</label>
          <input class="form-control" name="description" ng-model="product.description" server-error />
           <div class="error"
               ng-show="eProd.description.$dirty && eProd.description.$invalid">
            <span class="help-block"
                  ng-show="eProd.description.$error.server">
                  {{errors.description}}
            </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-12">
          <label>Price</label>
          <input type="number" step="any" name="price" class="form-control" ng-model="product.price" ng-minlength="0" server-error />
           <div class="error"
               ng-show="eProd.price.$dirty && eProd.price.$invalid">
            <span class="help-block"
                  ng-show="eProd.price.$error.server">
                  {{errors.price}}
            </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-12">
          <label>Profit</label>
          <input type="number" step="any" name="profit" class="form-control" ng-model="product.profit" 
          ng-minlength="0" ng-maxlength=3 server-error />
           <div class="error"
               ng-show="eProd.profit.$dirty && eProd.profit.$invalid">
            <span class="help-block"
                  ng-show="eProd.profit.$error.server">
                  {{errors.profit}}
            </span>
         
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </form>
</div>
</div>