<div class="modal-header">
  <h4 class="modal-title">Edit Product</h4>
</div>

<div class="modal-body">
  <form name="eProd" ng-submit="submitProduct(product)">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-12">
          <label>Name</label>
          <input class="form-control" name="pName" ng-model="product.name" ng-minlength=3 server-error />
          <div class="error"
               ng-show="eProd.pName.$dirty && eProd.pName.$invalid">
            <span class="help-block"
                  ng-show="eProd.pName.$error.$error.server">
                  {{errors.pName}}
            </span>
            <span class="help-inline"
                  ng-show="eProd.pName.$error.minlength">
                  A product name is required to be at least 3 characters.
            </span>
          </div>
        </div>
        </div>
      </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-12">
          <label>Description</label>
          <input class="form-control" name="pDesc" ng-model="product.description" server-error />
           <div class="error"
               ng-show="eProd.pDesc.$dirty && eProd.pDesc.$invalid">
            <span class="help-block"
                  ng-show="eProd.pDesc.$error.server">
                  {{errors.pDesc}}
            </span>
            <span class="help-inline"
                  ng-show="eProd.pDesc.$error.minlength">
                  A product description is required to be at least 3 characters.
            </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-12">
          <label>Price</label>
          <input type="number" step="any" name="pPrice" class="form-control" ng-model="product.price" ng-minlength="0" server-error />
           <div class="error"
               ng-show="eProd.pPrice.$dirty && eProd.pPrice.$invalid">
            <span class="help-block"
                  ng-show="eProd.pPrice.$error.server">
                  {{errors.pPrice}}
            </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-12">
          <label>Profit</label>
          <input type="number" step="any" name="pProfit" class="form-control" ng-model="product.profit" 
          ng-minlength="0" ng-maxlength=3 server-error />
           <div class="error"
               ng-show="eProd.pProfit.$dirty && eProd.pProfit.$invalid">
            <span class="help-block"
                  ng-show="eProd.pProfit.$error.server">
                  {{errors.pProfit}}
            </span>
         
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </form>
</div>
</div>