<div class="col-xs-8">
  <h1>Product List</h1>
  <a ng-click="editProduct(product)">Add new product</a>
  <table ng-if="products" class="table table-hover table-striped">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Profit</th>
    </thead>
    <tbody>
      <tr ng-repeat="product in products">
        <td><a ng-click="editProduct(product)">{{ product.name }}</a></td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.profit }}</td>
      </tr>
    </tbody>
  </table>
</div>
