.row
  .col-xs-12
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %p.navbar-text Customer:
          %h4.navbar-text Aron Chock
          %p.navbar-text Order:
          %h4.navbar-text 54
          %p.navbar-text Status:
          %h4.navbar-text NEW
        .navbar-right
          %p discount: 3%
          %p tax: 22%
          %p profit: 3%
        %h3.navbar-text.navbar-right Total: $1453.00
.row
  .col-xs-3
    .alert.alert-info
      %img.img-rounded{ src: "/assets/gem.jpg", style: "max-width:100%; max-height:100%" }

  .col-xs-9
    %table.product-table.table.table-striped{ fixed_header:"" }
      %thead
        %tr
          %th Item
          %th price
          %th description
      %tbody
        %tr{ ng_repeat: "product in products" }
          %td {{ product.name }}
          %td {{ product.price }}
          %td {{ product.description }}
          %td {{ product.profit }}
.row
  .col-xs-12
    .panel.panel-primary
      .panel-body
        Orders navigation bar

.row
  .col-xs-12
    %table.line-item-table.table.table-striped{ fixed_header:"" }
      %thead
        %tr
          %th item
          %th price
          %th quantity
          %th value
      %tbody
        %tr{ ng_repeat: "line_item in line_items" }
          %td {{ line_item.product.name }}
          %td {{ line_item.price }}
          %td {{ line_item.quantity }}
          %td {{ line_item.value }}
