.row
  .col-xs-12
    .jumbotron
      %h3 Order header

.row
  .col-xs-3
    .alert.alert-info
      %img.img-rounded{ src: "/assets/gem.jpg" }

  .col-xs-9
    .alert.alert-warning
      %table.table
        %thead
          %tr
            %th Item
            %th quantity
            %th price
        %tbody
          %tr
            %td BC324r
            %td 44
            %td 24.43%
          %tr
            %td BC324r
            %td 44
            %td 24.43%
          %tr
            %td BC324r
            %td 44
            %td 24.43%
          %tr
            %td BC324r
            %td 44
            %td 24.43%
          %tr
            %td BC324r
            %td 44
            %td 24.43%
          %tr
            %td BC324r
            %td 44
            %td 24.43%




.row
  .col-xs-12
    .alert.alert-success
      Gap between tables

.row
  .col-xs-12
    .alert.alert-danger
      %table.table
        %thead
          %tr
            %th Item
            %th quantity
            %th price
        %tbody
          %tr
            %td BC324r
            %td 44
            %td 24.43%
          %tr
            %td BC324r
            %td 44
            %td 24.43%
          %tr
            %td BC324r
            %td 44
            %td 24.43%
          %tr
            %td BC324r
            %td 44
            %td 24.43%
          %tr
            %td BC324r
            %td 44
            %td 24.43%
          %tr
            %td BC324r
            %td 44
            %td 24.43%


