.modal-header
  %h4.modal-title Edit Customer

.modal-body
  %form{ name:"form", ng_submit:"submitCustomer(customer)", novalidate: true }
    .form-group
      .row
        .col-xs-12
          %label
            First name
            %span.required require
          %input.form-control{ type:"text", name:"first_name", ng_model:"customer.first_name", 'server-error'=>true }
          .bg-danger{ ng_show:"form.first_name.$invalid" }
            %span{ ng_show:"form.first_name.$error.server" } {{ errors.first_name }}

    .form-group
      .row
        .col-xs-12
          %label
            Last name
            %span.required require
          %input.form-control{ type:"text", name:"last_name", ng_model:"customer.last_name", 'server-error'=>true }
          .bg-danger{ ng_show:"form.last_name.$invalid" }
            %span{ ng_show:"form.last_name.$error.server" } {{ errors.last_name }}


    .form-group
      .row
        .col-xs-12
          %label
            Email
            %span.required require
          %input.form-control{ ng_model:"customer.email", type:"text", name:"email", 'server-error'=>true }
          .bg-danger{ ng_show:"form.email.$invalid" }
            %span{ ng_show:"form.email.$error.server" } {{ errors.email }}


    .form-group
      .row
        .col-xs-12
          %label
            Phone number
            %span.required required
          %input.form-control{ type:"text", name:"phone_number", ng_model:"customer.phone_number", 'server-error'=>true }
          .bg-danger{ ng_show:"form.phone_number.$invalid" }
            %span{ ng_show:"form.phone_number.$error.server" } {{ errors.phone_number }}


    .form-group
      .row
        .col-xs-12
          %label
            Address
            %span.required required
          %input.form-control{ type:"text", name:"address", ng_model:"customer.address", 'server-error'=>true }
          .bg-danger{ ng_show:"form.address.$invalid" }
            %span{ ng_show:"form.address.$error.server" } {{ errors.address }}


    .form-group
      .row
        .col-xs-12
          %label
            Zip
            %span.required require
          %input.form-control{ type:"text", name:"zip_code", ng_model:"customer.zip_code", 'server-error'=>true}
          .bg-danger{ ng_show:"form.zip_code.$invalid" }
            %span{ ng_show:"form.zip_code.$error.server" } {{ errors.zip_code }}


    .form-group
      .row
        .col-xs-12
          %label
            City
            %span.required require
          %input.form-control{ type:"text", name:"city", ng_model:"customer.city", 'server-error'=>true}
          .bg-danger{ ng_show:"form.city.$invalid" }
            %span{ ng_show:"form.city.$error.server" } {{ errors.city }}


    .modal-footer
      %button.btn.btn-default{ type:"button", data_dismiss:"modal", ng_click:"cancel()" }
        Cancel
      %button.btn.btn-primary{ type:"submit" }
        Save Changes
